.hero-banner {
  /*background-image: url("../../../assets/img/research-hero-banner.jpg");*/
  height: 20rem;
  /*background-position: center;*/
  padding-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .hero-banner {
    /*background-image: url("../../../assets/img/research-hero-banner.jpg");*/
    background-position: center;
    background-size: cover;
    padding-top: 75px;
    height: 30vh;
  }
}

@media (max-width: 768px) {
  .hero-banner h1 {
    font-family: 'Roboto';
    font-weight: bold;
    color: white;
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .hero-banner h1 {
    font-family: 'Roboto';
    font-weight: bold;
    color: #f92d2d;
    font-size: 4rem;
    /*background: rgba(255,0,0,0.85);*/
  }
}

