#news body {
  /*background-image: linear-gradient(to left bottom, #ffa2a2, #ffcdcd, #ffd2d1, #ffb9b8, #ffd6d6);*/
  background: rgb(255, 229, 229);
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

////////////////////////font setting///////////////////// {
}

#news .teaching .date {
  font-family: roboto;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: red;
  margin-bottom: 0px;
}

#news h2 {
  font-family: roboto;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  /*margin-bottom: 0.1rem;*/
}

#news h3 {
  font-family: roboto;
  font-size: 1.6875rem;
  /*font-weight: 500;*/
  font-style: normal;
  /*margin-bottom: 0.1rem;*/
}

#news .image-info {
  font-family: roboto;
  font-size: 0.8rem;
  font-weight: 400;
  font-style: normal;
  color: rgba(0,0,0,0.7);
  line-height: 24px;
}

