.footer-2 h5 {
  font-weight: bold;
  padding-top: 1rem;
  /*margin-bottom: 0rem;*/
}

.footer-2 p {
  /*font-size: 1vw;*/
}

@media (max-width:577px) {
  .footer-2 p {
    font-size: 10px;
  }
}

@media (max-width: 577px) {
  .footer-2 {
    background-color: white;
    color: #FF0022;
    /*width: 100%;*/
    padding-bottom: 10px;
  }
}

.footer-2 {
  background-color: rgb(102,102,102);
  /*color: #FF0022;*/
  color: #ffffff;
  /*width: 100%;*/
}

@media (min-width: 576px) {
  .col-12.col-sm-4.col-md-6.col-lg-5.col-xl-3.offset-sm-0.offset-lg-0.offset-xl-2.d-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

