.row.no-gutters {
  /*text-align:center;*/
}

.smallProducts {
  margin:0px 0px 5px 5px;
  height:520px;
  width:48%;
  text-align:center;
  /*padding:10px;*/
}

.smallProducts h3 {
  font-weight:bold;
  font-size:32px;
}

.smallProducts h4 {
  font-size:19px;
  font-weight:500;
}

#caption {
  padding-top:40px;
}

#BehindTheMac {
  color:white;
}

#BehindTheMac a {
  color:white;
}

#BehindTheMac div {
  margin-bottom:25px;
}

#AirPods {
  background-color:#fafafa;
}

#AirPods .img-fluid {
  padding-top:30px;
}

#AppleWatch h6 {
  color:rgb(160,3,3);
}

#AppleWatch .img-fluid {
  padding-top:20px;
  width:359px;
}

#AppleWatch {
  background-color:#eeeeee;
}

#row1 {
  margin-top:10px;
}

@media (max-width: 575px) {
  .smallProducts {
    width:97%;
  }
}

